{
    "presets": [
        ["@babel/preset-env", {"modules": false, "useBuiltIns": "usage"}],
        "@babel/preset-react"
    ],
    "env": {
        "production": {
            "plugins": [[
                "transform-react-remove-prop-types",
                {
                    "removeImport": true,
                    "ignoreFilenames": ["node_modules"]
                }
            ]]
        },
        "development": {
            "plugins": ["react-hot-loader/babel"]
        }{{#unit}},
        "test": {
            "presets": ["env", "stage-1"],
            "plugins": [
                ["module-resolver", {
                    "alias": {
                        "src": "./src"
                    }
                }]
            ]
        }{{/unit}}
    }
}
