{
    "presets": [
        ["env", {"modules": false}],
        "stage-1",
        "react"
    ],
    "comments": false,
    "plugins": ["transform-runtime"],
    "env": {
        "development": {
            "plugins": ["react-hot-loader/babel"]
        }{{#unit}},
        "test": {
            "presets": ["env", "stage-1"],
            "plugins": [
                ["module-resolver", {
                    "alias": {
                        "src": "./src"
                    }
                }]
            ]
        }{{/unit}}
    }
}
