{
    "presets": [
        ["env", {"modules": false}],
        "stage-1",
        "react"
    ],
    "comments": false,
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy"
    ],
    "env": {
        "production": {
            "plugins": [[
                "transform-react-remove-prop-types",
                {
                    "removeImport": true,
                    "ignoreFilenames": ["node_modules"]
                }
            ]]
        },
        "development": {
            "plugins": ["react-hot-loader/babel"]
        },
        "test": {
            "presets": ["env", "stage-1"],
            "plugins": [
                ["module-resolver", {
                    "alias": {
                        "src": "./src"
                    }
                }]
            ]
        }
    }
}
