{
    "presets": [
        ["env", {"modules": false}],
        "stage-3",
        "react"
    ],
    "comments": false,
    "plugins": ["transform-runtime", "transform-class-properties"],
    "env": {
        "development": {
            "plugins": ["react-hot-loader/babel"]
        },
        "production": {
            "presets": ["react-optimize"]
        },
        "test": {
            "presets": ["env"],
            "plugins": [
                ["module-resolver", {
                    "alias": {
                        "src": "./src"
                    }
                }]
            ]
        }
    }
}
