{
    "presets": [
        ["es2015", {"modules": false}],
        "stage-3",
        "react"
    ],
    "comments": false,
    "plugins": ["transform-runtime", "transform-class-properties"],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}
