#Hello .msg {
  color: #61dafb;
  font-size: 24px;
}
#Hello .doc i {
  font-size: 20px;
}
#Hello .doc,
#Hello .doc a {
  color: #e9e9e9;
}
#Hello .doc .router {
  color: #61dafb;
}
#Hello .doc .redux {
  color: #7649bb;
}
