.counter {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-decoration: none;
  background-color: #7649bb;
  border-radius: 8px;
  font-size: 48px;
  margin-bottom: 20px;
}

.counter,
.counter:active {
  color: #e9e9e9;
}
